In [ ]:
import pandas as pd

In [ ]:
# Example public dataset URL (Iris dataset)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

# This url can also be the link of the data file uploaded in yeedu

In [3]:
# Load the dataset
df = pd.read_csv(url)

In [4]:
print("First 5 rows of the dataset:\n", df.head())

First 5 rows of the dataset:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
print("Shape of the dataset:", df.shape)

Shape of the dataset: (150, 5)

In [6]:
print("Column names:", df.columns.tolist())

Column names: ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [7]:
print("Data types:\n", df.dtypes)

Data types:
 sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [8]:
print("Summary statistics:\n", df.describe())

Summary statistics:
        sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
print("Null values in each column:\n", df.isnull().sum())

Null values in each column:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64